{{#partial "content"}}

    <h1>Hero list!</h1>

    {{#if posts}}
        {{#each posts }}
         <p>{{ content }}<a href="/posts/{{id}}">read more...</a></p>
        {{/each}}
    {{else}}
    <p>No heros found!</p>
    {{/if}}

    <p>Add a new Hero:</p>
{{/partial}}

{{> layout.hbs}}