{{#partial "content"}}

    <h1>Hero list!</h1>

    {{#if posts}}
        {{#each posts }}
         <p>{{ content }}  <a href="/posts/{{id}}">read more...</a></p>
        {{/each}}
    {{else}}
    <p>No heros found! <a href="/posts/new">  Create hero here</a></p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}