{{#partial "content"}}
    {{#if editHero}}
        <h1>Edit this Hero!</h1>
        <form action="/posts/{{editHero.id}}/update" method="post">
            <label for="content">Edit this hero</label>
            <input id="content" name="content" type="text" value="{{editHero.content}}">
        </form>

    {{else}}
            <h1>Add a new Hero!</h1>

        <form action="/posts/new" method="post">
            <label for="content">Hero</label>
            <input id="content" name="content" type="text">

    {{/if}}
        <button type="submit" class="btn btn-secondary">Go!</button>
    </form>
{{/partial}}



{{> layout.hbs}}